In [7]:
#Q1&Q2
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["Data_Tracker"]
mycol = mydb["Question8"]

In [5]:
#Q2
mylist = [

  { "Product Type": "Chips", "Product": "Bigga Naks", "Price": 1.00, "Quantity": 50, "Sold": 45, "Sales": 45.00},             
    { "Product Type": "Chips", "Product": "Nik Naks", "Price": 1.50, "Quantity": 50, "Sold": 40, "Sales": 60.00},
    { "Product Type": "Chips", "Product": "Bubbles", "Price": 9.00, "Quantity": 30, "Sold": 12, "Sales": 108.00},
    { "Product Type": "Chips", "Product": "Lays", "Price": 7.50, "Quantity": 50, "Sold": 15, "Sales": 112.50},
    { "Product Type": "Chips", "Product": "Simba", "Price": 7.50, "Quantity": 50, "Sold": 21, "Sales": 157.50},
{ "Product Type": "Cooldrinks", "Product": "Coke", "Price": 11.00, "Quantity": 60, "Sold": 30, "Sales": 330.00},
    { "Product Type": "Cooldrinks", "Product": "Pepsi", "Price": 9.00, "Quantity": 36, "Sold": 30, "Sales": 270.00},
    { "Product Type": "Cooldrinks", "Product": "Fanta", "Price": 11.00, "Quantity": 60, "Sold": 24, "Sales": 264.00},
    { "Product Type": "Cooldrinks", "Product": "Sprite", "Price": 11.00, "Quantity": 60, "Sold": 40, "Sales": 440.00},
    { "Product Type": "Cooldrinks", "Product": "Mountain Dew", "Price": 9.00, "Quantity": 36, "Sold": 19, "Sales": 171.00},
    { "Product Type": "Cooldrinks", "Product": "7Up", "Price": 9.00, "Quantity": 36, "Sold": 25, "Sales": 225.00},
{ "Product Type": "Chocolates", "Product": "Cadbury", "Price": 12.00, "Quantity": 30, "Sold": 15, "Sales": 180.00},
    { "Product Type": "Chocolates", "Product": "P.S", "Price": 8.00, "Quantity": 20, "Sold": 9, "Sales": 72.00},
    { "Product Type": "Chocolates", "Product": "Bar One", "Price": 7.00, "Quantity": 20, "Sold": 15, "Sales": 105.00},
    { "Product Type": "Chocolates", "Product": "Aero", "Price": 15.00, "Quantity": 30, "Sold": 12, "Sales": 180.00},
    { "Product Type": "Chocolates", "Product": "Beacon", "Price": 11.00, "Quantity": 30, "Sold": 17, "Sales": 187.00},
    { "Product Type": "Chocolates", "Product": "Milky Bar", "Price": 11.00, "Quantity": 30, "Sold": 20, "Sales": 220.00},
{ "Product Type": "Cupcakes", "Product": "Vanilla", "Price": 15.00, "Quantity": 24, "Sold": 15, "Sales": 225.00},
    { "Product Type": "Cupcakes", "Product": "Red Velvet", "Price": 18.00, "Quantity": 24, "Sold": 10, "Sales": 180.00},
    { "Product Type": "Cupcakes", "Product": "Cuppuccino", "Price": 15.00, "Quantity": 24, "Sold": 16, "Sales": 240.00},
    { "Product Type": "Cupcakes", "Product": "Chocolate", "Price": 15.00, "Quantity": 24, "Sold": 20, "Sales": 300.00},
{ "Product Type": "Fruits & Vegitables(Per kg)", "Product": "Apples(Prepacks)", "Price": 15.00, "Quantity": 60, "Sold": 44, "Sales": 660.00},
    { "Product Type": "Fruits & Vegitables(Per kg)", "Product": "Bananas(Prepacks)", "Price": 10.00, "Quantity": 80, "Sold": 70, "Sales": 700.00},
    { "Product Type": "Fruits & Vegitables(Per kg)", "Product": "Grapes(Bushels)", "Price": 17.00, "Quantity": 40, "Sold": 18, "Sales": 306.00},
    { "Product Type": "Fruits & Vegitables(Per kg)", "Product": "Carrots(Prepacks)", "Price": 12.00, "Quantity": 30, "Sold": 12, "Sales": 144.00},
    { "Product Type": "Fruits & Vegitables(Per kg)", "Product": "Potatoes(Prepacks)", "Price": 15.00, "Quantity": 30, "Sold": 16, "Sales": 240.00},
    { "Product Type": "Fruits & Vegitables(Per kg)", "Product": "Onions(Prepacks)", "Price": 15.00, "Quantity": 60, "Sold": 44, "Sales": 280.00},
{ "Product Type": "Pies", "Product": "Chicken & Mushroom", "Price": 18.00, "Quantity": 20, "Sold": 15, "Sales": 270.00},
    { "Product Type": "Pies", "Product": "Fetta & Spinach", "Price": 23.00, "Quantity": 25, "Sold": 20, "Sales": 460.00},
    { "Product Type": "Pies", "Product": "Pepper Steak", "Price": 18.00, "Quantity": 20, "Sold": 10, "Sales": 180.00},
    { "Product Type": "Pies", "Product": "Burger", "Price": 20.00, "Quantity": 20, "Sold": 14, "Sales": 280.00},

]

x = mycol.insert_many(mylist)

NameError: name 'mycol' is not defined

In [6]:
#From Highest to Lowest according to sales (Q5)

mydoc = mycol.find().sort("Sales", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5e58d231f0570f41208bfc2f'), 'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Bananas(Prepacks)', 'Price': 10.0, 'Quantity': 80, 'Sold': 70, 'Sales': 700.0}
{'_id': ObjectId('5e58d231f0570f41208bfc2e'), 'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Apples(Prepacks)', 'Price': 15.0, 'Quantity': 60, 'Sold': 44, 'Sales': 660.0}
{'_id': ObjectId('5e58d231f0570f41208bfc35'), 'Product Type': 'Pies', 'Product': 'Fetta & Spinach', 'Price': 23.0, 'Quantity': 25, 'Sold': 20, 'Sales': 460.0}
{'_id': ObjectId('5e58d231f0570f41208bfc21'), 'Product Type': 'Cooldrinks', 'Product': 'Sprite', 'Price': 11.0, 'Quantity': 60, 'Sold': 40, 'Sales': 440.0}
{'_id': ObjectId('5e58d231f0570f41208bfc1e'), 'Product Type': 'Cooldrinks', 'Product': 'Coke', 'Price': 11.0, 'Quantity': 60, 'Sold': 30, 'Sales': 330.0}
{'_id': ObjectId('5e58d231f0570f41208bfc30'), 'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Grapes(Bushels)', 'Price': 17.0, 'Quantity': 40, 'Sold': 18, 'Sales': 306.0}
{'_id': ObjectId('5e58d231f0570f41208bfc2d'), 'Product Type': 'Cupcakes', 'Product': 'Chocolate', 'Price': 15.0, 'Quantity': 24, 'Sold': 20, 'Sales': 300.0}
{'_id': ObjectId('5e58d231f0570f41208bfc33'), 'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Onions(Prepacks)', 'Price': 15.0, 'Quantity': 60, 'Sold': 44, 'Sales': 280.0}
{'_id': ObjectId('5e58d231f0570f41208bfc37'), 'Product Type': 'Pies', 'Product': 'Burger', 'Price': 20.0, 'Quantity': 20, 'Sold': 14, 'Sales': 280.0}
{'_id': ObjectId('5e58d231f0570f41208bfc1f'), 'Product Type': 'Cooldrinks', 'Product': 'Pepsi', 'Price': 9.0, 'Quantity': 36, 'Sold': 30, 'Sales': 270.0}
{'_id': ObjectId('5e58d231f0570f41208bfc34'), 'Product Type': 'Pies', 'Product': 'Chicken & Mushroom', 'Price': 18.0, 'Quantity': 20, 'Sold': 15, 'Sales': 270.0}
{'_id': ObjectId('5e58d231f0570f41208bfc20'), 'Product Type': 'Cooldrinks', 'Product': 'Fanta', 'Price': 11.0, 'Quantity': 60, 'Sold': 24, 'Sales': 264.0}
{'_id': ObjectId('5e58d231f0570f41208bfc2c'), 'Product Type': 'Cupcakes', 'Product': 'Cuppuccino', 'Price': 15.0, 'Quantity': 24, 'Sold': 16, 'Sales': 240.0}
{'_id': ObjectId('5e58d231f0570f41208bfc32'), 'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Potatoes(Prepacks)', 'Price': 15.0, 'Quantity': 30, 'Sold': 16, 'Sales': 240.0}
{'_id': ObjectId('5e58d231f0570f41208bfc23'), 'Product Type': 'Cooldrinks', 'Product': '7Up', 'Price': 9.0, 'Quantity': 36, 'Sold': 25, 'Sales': 225.0}
{'_id': ObjectId('5e58d231f0570f41208bfc2a'), 'Product Type': 'Cupcakes', 'Product': 'Vanilla', 'Price': 15.0, 'Quantity': 24, 'Sold': 15, 'Sales': 225.0}
{'_id': ObjectId('5e58d231f0570f41208bfc29'), 'Product Type': 'Chocolates', 'Product': 'Milky Bar', 'Price': 11.0, 'Quantity': 30, 'Sold': 20, 'Sales': 220.0}
{'_id': ObjectId('5e58d231f0570f41208bfc28'), 'Product Type': 'Chocolates', 'Product': 'Beacon', 'Price': 11.0, 'Quantity': 30, 'Sold': 17, 'Sales': 187.0}
{'_id': ObjectId('5e58d231f0570f41208bfc24'), 'Product Type': 'Chocolates', 'Product': 'Cadbury', 'Price': 12.0, 'Quantity': 30, 'Sold': 15, 'Sales': 180.0}
{'_id': ObjectId('5e58d231f0570f41208bfc27'), 'Product Type': 'Chocolates', 'Product': 'Aero', 'Price': 15.0, 'Quantity': 30, 'Sold': 12, 'Sales': 180.0}
{'_id': ObjectId('5e58d231f0570f41208bfc2b'), 'Product Type': 'Cupcakes', 'Product': 'Red Velvet', 'Price': 18.0, 'Quantity': 24, 'Sold': 10, 'Sales': 180.0}
{'_id': ObjectId('5e58d231f0570f41208bfc36'), 'Product Type': 'Pies', 'Product': 'Pepper Steak', 'Price': 18.0, 'Quantity': 20, 'Sold': 10, 'Sales': 180.0}
{'_id': ObjectId('5e58d231f0570f41208bfc22'), 'Product Type': 'Cooldrinks', 'Product': 'Mountain Dew', 'Price': 9.0, 'Quantity': 36, 'Sold': 19, 'Sales': 171.0}
{'_id': ObjectId('5e58d231f0570f41208bfc1d'), 'Product Type': 'Chips', 'Product': 'Simba', 'Price': 7.5, 'Quantity': 50, 'Sold': 21, 'Sales': 157.5}
{'_id': ObjectId('5e58d231f0570f41208bfc31'), 'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Carrots(Prepacks)', 'Price': 12.0, 'Quantity': 30, 'Sold': 12, 'Sales': 144.0}
{'_id': ObjectId('5e58d231f0570f41208bfc1c'), 'Product Type': 'Chips', 'Product': 'Lays', 'Price': 7.5, 'Quantity': 50, 'Sold': 15, 'Sales': 112.5}
{'_id': ObjectId('5e58d231f0570f41208bfc1b'), 'Product Type': 'Chips', 'Product': 'Bubbles', 'Price': 9.0, 'Quantity': 30, 'Sold': 12, 'Sales': 108.0}
{'_id': ObjectId('5e58d231f0570f41208bfc26'), 'Product Type': 'Chocolates', 'Product': 'Bar One', 'Price': 7.0, 'Quantity': 20, 'Sold': 15, 'Sales': 105.0}
{'_id': ObjectId('5e58d231f0570f41208bfc25'), 'Product Type': 'Chocolates', 'Product': 'P.S', 'Price': 8.0, 'Quantity': 20, 'Sold': 9, 'Sales': 72.0}
{'_id': ObjectId('5e58d231f0570f41208bfc1a'), 'Product Type': 'Chips', 'Product': 'Nik Naks', 'Price': 1.5, 'Quantity': 50, 'Sold': 40, 'Sales': 60.0}
{'_id': ObjectId('5e58d231f0570f41208bfc19'), 'Product Type': 'Chips', 'Product': 'Bigga Naks', 'Price': 1.0, 'Quantity': 50, 'Sold': 45, 'Sales': 45.0}

In [57]:
#Top3 Q3
mylist = [{'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Bananas(Prepacks)', 'Price': 10.0, 'Quantity': 80, 'Sold': 70, 'Sales': 700.0},
{'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Apples(Prepacks)', 'Price': 15.0, 'Quantity': 60, 'Sold': 44, 'Sales': 660.0},
{'Product Type': 'Pies', 'Product': 'Fetta & Spinach', 'Price': 23.0, 'Quantity': 25, 'Sold': 20, 'Sales': 460.0},
    
]

x = mycol.insert_many(mylist)

In [60]:
#Add to top3: Q4
mylist = [{'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Mangoes(Prepacks)', 'Price': 20.00, 'Quantity': 20, 'Sold': 6, 'Sales': 120.0},
{'Product Type': 'Fruits & Vegitables(Per kg)', 'Product': 'Pears(Prepacks)', 'Price': 17.00, 'Quantity': 40, 'Sold': 15, 'Sales': 255.0},
{'Product Type': 'Pies', 'Product': 'Apple', 'Price': 25.00, 'Quantity': 25, 'Sold': 20, 'Sales': 500.00},
{'Product Type': 'Pies', 'Product': 'Blueberry', 'Price': 25.00, 'Quantity': 25, 'Sold': 10, 'Sales': 250.00},
    
]

x = mycol.insert_many(mylist)

In [3]:
#Delete from top 3: Q6
myquery = { "Product Type": {"$regex": "F"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

NameError: name 'mycol' is not defined

In [61]:
#Update Data: Q7

myquery = { "Product": { "$regex": "^Blueberry" } }
newvalues = { "$set": { "Product": "Tikka Chicken" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

1 documents updated.

In [4]:
#5 Least Selling Products (Q8)
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["Data_Tracker"]
mycol = mydb["Question8"]
myresult = mycol.find().limit(-5)

#print the result:
for x in myresult:
  print(x)

NameError: name 'mycol' is not defined