In [ ]:
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'I', 'j']
labels()

In [4]:
import pandas as pd 

import numpy as np 

df = pd.DataFrame(np.random.randn(8, 4), 

index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D']) 

# Select range of rows for all columns 

print(df.loc['a':'h'])

          A         B         C         D
a -2.667133 -1.193576 -0.119560 -0.210971
b  0.416614 -1.255115 -1.864619  1.188019
c  0.418040  0.213872 -0.388542 -0.722680
d -0.340674  1.766373 -0.625927 -0.606162
e  0.359814  0.059647  0.515608 -1.371874
f -0.193007  0.402511  0.553692  0.595795
g  0.790725 -0.330513  0.369516  0.653640
h -0.748901  0.426744 -0.569949  0.277827

In [5]:
import pandas as pd 

import numpy as np 

df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D']) 

print (df.A)

0   -0.777882
1    1.062173
2    0.055448
3    2.555631
4   -0.208451
5   -0.735293
6    0.863921
7   -1.380912
Name: A, dtype: float64

In [6]:
import pandas as pd 

data = [['Axola',12],['Bongiwe',19],['Dwayne',26]] 

df = pd.DataFrame(data,columns=['Name','Age']) 

print (df)

      Name  Age
0    Axola   12
1  Bongiwe   19
2   Dwayne   26

In [7]:
import pandas as pd 

data = {'Name':['Maruis', 'Irma', 'Sibongile', 'Zacharee'],'Yolisa':[18,35,28,42]} 

df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4']) 

print (df)

            Name  Yolisa
rank1     Maruis      18
rank2       Irma      35
rank3  Sibongile      28
rank4   Zacharee      42