In [ ]:
import pandas as pd
import pymysql 
import sqlalchemy
import MySQLdb
import matplotlib.pyplot as plt

memes = sqlalchemy.create_engine('mysql+pymysql://root:neltab1994##@localhost/my_first')
df = pd.read_sql_table('sprint_1', memes)
df

In [2]:
import pymysql
#pymysql.install_as_MySQLdb()
import MySQLdb

db= MySQLdb.connect("localhost", "root", "neltab1994##", "my_first")

cursor= db.cursor()

cursor.execute("ALTER TABLE sprint_1 ADD Barcode VARCHAR(100) NOT NULL FIRST ")

db.close()

OperationalError: (1060, "Duplicate column name 'Barcode'")

In [ ]:
import pymysql
#pymysql.install_as_MySQLdb()
import MySQLdb

db= MySQLdb.connect("localhost", "root", "neltab1994##", "my_first")

cursor= db.cursor()
cursor.execute("ALTER TABLE sprint_1 DROP email")
db.close()

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="neltab1994##",
  database="my_first"
)

mycursor = mydb.cursor()

sql = "UPDATE sprint_1 SET Barcode = '10' WHERE Product = 'Cadbury'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")